<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>archlinux.de - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% for style in ['arch', 'archnavbar'] %}
            <link rel="stylesheet" media="screen" href="{{ asset('style/'~style~'.css') }}"/>
        {% endfor %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('style/favicon.ico') }}"/>
    <link rel="alternate" type="application/atom+xml" title="Aktuelle Arch Linux Neuigkeiten"
          href="{{ path('app_recentnews_index') }}"/>
    <link rel="alternate" type="application/atom+xml"
          title="Aktuelle Arch Linux Pakete"
          href="{{ path('app_recentpackages_index') }}"/>
    <link rel="search" type="application/opensearchdescription+xml"
          title="Suche nach Arch Linux Paketen"
          href="{{ path('app_getopensearch_index') }}"/>
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}"/>
</head>
<body>
<div id="archnavbar" class="anb-{{ app.request.attributes.get('_route') }}">
    <div id="archnavbarlogo"><h1><a href="{{ path('app_start_index') }}">Arch Linux</a></h1></div>
    <div id="archnavbarmenu">
        <ul id="archnavbarlist">
            <li id="anb-start"><a href="{{ path('app_start_index') }}">Start</a></li>
            <li id="anb-packages"><a href="{{ path('app_packages_index') }}">Pakete</a></li>
            <li id="anb-forum"><a href="https://bbs.archlinux.de/">Forum</a></li>
            <li id="anb-wiki"><a href="https://wiki.archlinux.de/">Wiki</a></li>
            <li id="anb-aur"><a href="https://aur.archlinux.de/">AUR</a></li>
            <li id="anb-download"><a href="{{ path('app_download_index') }}">Download</a></li>
        </ul>
    </div>
</div>
<div id="content">
    {% block body %}{% endblock %}
    <div id="footer">
        <a href="{{ path('app_legal_privacypolicy') }}">Datenschutz</a> &ndash;
        <a href="{{ path('app_legal_impressum') }}">Impressum</a>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
