<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <id>{{ url('app_releases_feed') }}</id>
    <title>Arch Linux Releases</title>
    <updated>{{ 'now' | date(constant('DateTimeInterface::ATOM'), timezone='GMT') }}</updated>
    <link rel="alternate" href="{{ url('app_releases') }}"/>
    <link rel="self" href="{{ url('app_releases_feed') }}"/>
    <icon>{{ absolute_url('img/archicon.svg') }}</icon>
    <logo>{{ absolute_url('img/archlogo.svg') }}</logo>
    {# @var releases \App\Entity\Release[] #}
    {% for release in releases %}
        <entry>
            {% set releaseURL = url('app_release', {'version': release.version}) %}
            <id>{{ releaseURL }}</id>
            <title>{{ release.version }}</title>
            <updated>{{ release.releaseDate | date(constant('DateTimeInterface::ATOM'), timezone='GMT') }}</updated>
            <link rel="alternate" href="{{ releaseURL }}"/>
            <author>
                <name>Arch Linux</name>
            </author>
            <summary>Arch Linux ISO image Version {{ release.version }}</summary>
            {% if release.available %}
                <content
                        src="{{ url('app_mirror_iso', {'version': release.version, 'file': release.torrent.fileName }) }}"
                        type="application/x-iso9660-image"/>
            {% endif %}
        </entry>
    {% endfor %}
</feed>
