{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('releases') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('releases') }}
{% endblock %}

{% block title %}Releases{% endblock %}

{% block canonical %}{{ absolute_url(path('app_releases_index',{'search': search })) }}{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Arch Linux Releases</h1>
        <table id="releases" class="table table-striped table-bordered table-sm" width="100%"
               data-ajax-url="{{ path('app_releases_datatables') }}"
               data-search='{"search": "{{ search }}"}'
               data-release-url-template="{{ path('app_releases_release', {'version': '1_version_'}) }}">
            <thead>
            <tr>
                <th>Version</th>
                <th>Veröffentlichung</th>
                <th>Kernel-Version</th>
                <th>Verfügbarkeit</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="mt-4">
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_releases_feed') }}">Feed</a>
            <a class="btn btn-secondary btn-sm" href="{{ path('app_download_index') }}">Aktueller Download</a>
        </div>
    </main>
{% endblock %}
