{% for news in news_items %}
    <div class="mb-5">
        <div class="d-lg-flex justify-content-between align-items-baseline border border-top-0 border-left-0 border-right-0 mb-2">
            <h2 class="text-break">
                <a href="{{ path('app_news_item', {'slug': news.slug}) }}">{{ news.title }}</a>
            </h2>
            <div>{{ news.lastModified | date('d.m.Y') }}</div>
        </div>
        <div class="text-break">
            {{ news.description | purify('news') }}
        </div>
    </div>
{% endfor %}
<div class="py-2 mb-5">
    <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_news_feed') }}">Feed</a>
    <a class="btn btn-primary btn-sm" href="{{ path('app_news_index') }}">zum Archiv</a>
</div>
