<div class="card">
    <h3 class="card-title card-header">Aktuelle Pakete</h3>

    <div class="card-body p-1 p-lg-3">
        <table class="table table-sm table-fixed">
            {# @var package \App\Entity\Packages\Package #}
            {% for package in packages %}
                <tr>
                    <td class="pkgname w-75"><a href="{{ path('app_packagedetails_index', {
                            'repo': package.repository.name,
                            'arch': package.repository.architecture,
                            'pkgname': package.name
                        }) }}">{{ package.name }}</a></td>
                    <td class="text-right text-truncate" title="{{ package.version }}">{{ package.version }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-footer text-muted d-inline-flex justify-content-between">
        <a class="card-link" href="{{ path('app_packages_index') }}">mehr Pakete</a>
        <a class="card-link" href="{{ path('app_recentpackages_index') }}">Feed</a>
    </div>
</div>
