{% extends 'base.html.twig' %}

{% block title %}{{ package.name }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ package.name }}</h1>
    <h2 class="mb-3 mt-5">Paket-Details</h2>
    <table class="table table-sm">
        <colgroup>
            <col class="w-20">
        </colgroup>
        <tr>
            <th>Name</th>
            <td>{{ package.name }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ package.version }}</td>
        </tr>
        <tr>
            <th>Beschreibung</th>
            <td>{{ package.desc }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td><a rel="nofollow" href="{{ package.url }}">{{ package.url }}</a></td>
        </tr>
        <tr>
            <th>Lizenzen</th>
            <td>{{ licenses | raw }}</td>
        </tr>
        <tr>
            <th>Repositorium</th>
            <td>
                <a href="{{ path('app_packages_index', {'repository': package.repository}) }}">{{ package.repository }}</a>
            </td>
        </tr>
        <tr>
            <th>Architektur</th>
            <td>
                <a href="{{ path('app_packages_index', {'architecture': package.architecture}) }}">{{ package.architecture }}</a>
            </td>
        </tr>
        <tr>
            <th>Gruppen</th>
            <td>{{ groups | raw }}</td>
        </tr>
        <tr>
            <th>Packer</th>
            <td>
                <a href="{{ path('app_packages_index', {'packager': package.packagerid}) }}">{{ package.packager }}</a>
                {% if package.packageremail %}
                    <a rel="nofollow" href="mailto:{{ package.packageremail }}">@</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Erstellt am</th>
            <td>{{ package.builddate | date }}</td>
        </tr>
        <tr>
            <th>Veröffentlicht am</th>
            <td>{{ package.mtime | date }}</td>
        </tr>
        <tr>
            <th>Quelltext</th>
            <td><a href="{{ cgit_url }}tree/trunk?h=packages/{{ package.base }}">Quelldateien</a>,
                <a href="{{ cgit_url }}log/trunk?h=packages/{{ package.base }}">Änderungshistorie</a></td>
        </tr>
        <tr>
            <th>Bugs</th>
            <td><a href="https://bugs.archlinux.org/index.php?string=%5B{{ package.name }}%5D">Bug-Tracker</a></td>
        </tr>
        <tr>
            <th>Paket</th>
            <td>
                <a href="{{ path('app_mirror_index', {'file': package.repository~'/os/'~arch~'/'~package.filename}) }}">{{ package.filename }}</a>
            </td>
        </tr>
        <tr>
            <th>MD5-Prüfsumme</th>
            <td class="mw-50vw"><code class="break-word">{{ package.md5sum }}</code></td>
        </tr>
        <tr>
            <th>SHA256-Prüfsumme</th>
            <td class="mw-50vw"><code class="break-word">{{ package.sha256sum }}</code></td>
        </tr>
        <tr>
            <th>PGP-Signatur</th>
            <td><a href="data:application/pgp-signature;base64,{{ pgpsig_base64 }}"
                   download="{{ package.filename }}.sig">{{ package.filename }}.sig</a></td>
        </tr>
        <tr>
            <th>Paket-Größe</th>
            <td>{{ package.csize | format_bytes }}</td>
        </tr>
        <tr>
            <th>Installations-Größe</th>
            <td>{{ package.isize | format_bytes }}</td>
        </tr>
    </table>
    <h2 class="mb-3 mt-5">Abhängigkeiten</h2>
    {% macro relation(name, list) %}
        {% if list matches('/<li>/') %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <h3>{{ name }}</h3>
                {{ list | raw }}
            </div>
        {% endif %}
    {% endmacro %}
    {% import _self as macro %}
    <div class="row mw-100">
        {{ macro.relation('hängt ab von', depends) }}
        {{ macro.relation('benötigt von', inverse_depends) }}
        {{ macro.relation('stellt bereit', provides) }}
        {{ macro.relation('kollidiert mit', conflicts) }}
        {{ macro.relation('ersetzt', replaces) }}
        {{ macro.relation('hängt optional ab von', optdepends) }}
        {{ macro.relation('optional benötigt von', inverse_optdepends) }}
        {{ macro.relation('Bauen hängt ab von', makedepends) }}
        {{ macro.relation('Bauen benötigt von', inverse_makedepends) }}
        {{ macro.relation('Test hängt ab von', checkdepends) }}
    </div>

    <h2 class="mb-3 mt-5">Dateien</h2>
    {% if show_files %}
        {{ files | raw }}
    {% else %}
        <a class="btn btn-outline-primary" href="{{ path('app_packagedetails_index', {
            'repo': repo,
            'arch': arch,
            'pkgname': pkgname,
            'showfiles': '1'
        }) }}">Dateien anzeigen</a>
    {% endif %}
{% endblock %}
