{% extends 'base.html.twig' %}

{% block title %}{{ package.name }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ package.name }}</h1>
    <div class="row mw-100">
        <div class="col-12 col-xl-6">
            <h2 class="mb-3">Paket-Details</h2>
            <table class="table table-sm">
                <colgroup>
                    <col class="w-20">
                </colgroup>
                <tr>
                    <th>Name</th>
                    <td>{{ package.name }}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>{{ package.version }}</td>
                </tr>
                <tr>
                    <th>Beschreibung</th>
                    <td>{{ package.desc }}</td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td class="mw-50vw">
                        <a class="break-word" rel="nofollow" href="{{ package.url }}">{{ package.url }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Lizenzen</th>
                    <td>{{ licenses | join(', ') }}</td>
                </tr>
                <tr>
                    <th>Repositorium</th>
                    <td>
                        <a href="{{ path('app_packages_index', {'repository': package.repository}) }}">{{ package.repository }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Architektur</th>
                    <td>
                        <a href="{{ path('app_packages_index', {'architecture': package.architecture}) }}">{{ package.architecture }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Gruppen</th>
                    <td>{{ groups | join(', ') }}</td>
                </tr>
                <tr>
                    <th>Packer</th>
                    <td>
                        <a href="{{ path('app_packages_index', {'packager': package.packagerid}) }}">{{ package.packager }}</a>
                        {% if package.packageremail %}
                            <a rel="nofollow" href="mailto:{{ package.packageremail }}">@</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Erstellt am</th>
                    <td>{{ package.builddate | date }}</td>
                </tr>
                <tr>
                    <th>Veröffentlicht am</th>
                    <td>{{ package.mtime | date }}</td>
                </tr>
                <tr>
                    <th>Quelltext</th>
                    <td><a href="{{ cgit_url }}tree/trunk?h=packages/{{ package.base }}">Quelldateien</a>,
                        <a href="{{ cgit_url }}log/trunk?h=packages/{{ package.base }}">Änderungshistorie</a></td>
                </tr>
                <tr>
                    <th>Bugs</th>
                    <td><a href="https://bugs.archlinux.org/index.php?string=%5B{{ package.name }}%5D">Bug-Tracker</a>
                    </td>
                </tr>
                <tr>
                    <th>Paket</th>
                    <td>
                        <a href="{{ path(
                        'app_mirror_package',
                        {'repository': package.repository, 'architecture': arch, 'file': package.filename}
                        ) }}">{{ package.filename }}</a>
                    </td>
                </tr>
                <tr>
                    <th>PGP-Signatur</th>
                    <td>
                        <a href="{{ path(
                        'app_mirror_package',
                        {'repository': package.repository, 'architecture': arch, 'file': package.filename~'.sig'}
                        ) }}">{{ package.filename }}
                            .sig</a></td>
                </tr>
                <tr>
                    <th>Paket-Größe</th>
                    <td>{{ package.csize | format_bytes }}</td>
                </tr>
                <tr>
                    <th>Installations-Größe</th>
                    <td>{{ package.isize | format_bytes }}</td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-xl-6">
            <h2 class="mb-3 mt-5 mt-xl-0">Abhängigkeiten</h2>

            {% macro relation(name, packages) %}
                {% if packages | length > 0 %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <h3>{{ name }}</h3>
                        <ul class="list-unstyled pl-4">
                            {% for package in packages %}
                                <li>
                                    {% if package.repo and package.arch %}
                                        <a href="{{ path(
                                    'app_packagedetails_index',
                                    {'repo': package.repo, 'arch': package.arch, 'pkgname': package.name}
                                    ) }}">{{ package.name }}</a>{{ package.version }}
                                    {% else %}
                                        {{ package.name }}{{ package.version }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endmacro %}
            {% import _self as macro %}

            <div class="row mw-100">
                {{ macro.relation('von', depends) }}
                {{ macro.relation('optional von', optdepends) }}

                {{ macro.relation('stellt bereit', provides) }}
                {{ macro.relation('ersetzt', replaces) }}
                {{ macro.relation('kollidiert mit', conflicts) }}

                {{ macro.relation('Bauen von', makedepends) }}
                {{ macro.relation('Test von', checkdepends) }}

                {{ macro.relation('benötigt von', inverse_depends) }}
                {{ macro.relation('optional für', inverse_optdepends) }}
                {{ macro.relation('Zum Bauen von', inverse_makedepends) }}
            </div>
        </div>
    </div>
{% endblock %}
