{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/news') }}
{% endblock %}

{% block title %}Neuigkeiten{% endblock %}

{% block canonical %}{{ absolute_url(path(
    'app_news_index',
    {
        'search': search
    }
)) }}{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Neuigkeiten</h1>
        <table id="news" class="table table-striped table-bordered table-sm" width="100%"
               data-ajax="{{ path('app_news_datatables') }}"
               data-search='{"search": "{{ search }}"}'
               data-news-item-url-template="{{ path('app_news_item', {'slug': '1-slug'}) }}">
            <thead>
            <tr>
                <th>Veröffentlichung</th>
                <th>Titel</th>
                <th>Autor</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>
{% endblock %}
