{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block canonical %}{{ absolute_url(path('app_news_item', {'id': news.id, 'slug': news.title | slug})) }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mb-4">{{ news.title }}</h1>
        <div class="mb-3 text-muted">
            {{ news.lastModified | date('d.m.Y') }}
            &ndash;
            {% if news.author.uri %}
                <a class="text-muted" href="{{ news.author.uri }}">{{ news.author.name }}</a>
            {% else %}
                {{ news.author.name }}
            {% endif %}
        </div>
        <div class="text-break mb-4">
            {{ news.description | purify('news') }}
        </div>
        <a class="btn btn-outline-secondary btn-sm" role="button" href="{{ path('app_news_index') }}">zum Archiv</a>
        <a class="btn btn-primary btn-sm" role="button" href="{{ news.link }}">Kommentare</a>
    </main>
{% endblock %}
