{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block canonical %}{{ absolute_url(path('app_news_item', {'slug': news.slug})) }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ news.title }}</h1>
    <div class="container ml-0 pl-0">
        <div class="mb-3 text-muted">
            {{ news.lastModified | date('d.m.Y') }}
            &ndash; <a class="text-muted" href="{{ news.author.uri }}">{{ news.author.name }}</a>
        </div>
        <div class="text-break mb-4">
            {{ news.description | purify('news') }}
        </div>
        <a class="btn btn-outline-secondary btn-sm" role="button" href="{{ path('app_news_index') }}">zum Archiv</a>
        <a class="btn btn-primary btn-sm" role="button" href="{{ news.link }}">Kommentare</a>
    </div>
{% endblock %}
