{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('build/mirrors.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/mirrors.js') }}"></script>
{% endblock %}

{% block title %}Mirror-Status{% endblock %}

{% block body %}
    <div class="box">
        <h2>Mirror-Status</h2>
        <table id="mirrors" class="pretty-table compact" data-ajax="{{ path('app_mirrorstatus_datatables') }}">
            <thead>
            <tr>
                <th>URL</th>
                <th>Land</th>
                <th>&empty;&nbsp;Antwortzeit</th>
                <th>&empty;&nbsp;Verzögerung</th>
                <th>Letzte Aktualisierung</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
