<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ encore_entry_link_tags('main') }}
    <title></title>
    <link rel="alternate" type="application/atom+xml" title="Aktuelle Arch Linux Neuigkeiten"
          href="{{ path('app_news_feed') }}"/>
    <link rel="alternate" type="application/atom+xml"
          title="Aktuelle Arch Linux Pakete"
          href="{{ path('app_packages_feed') }}"/>
    <link rel="search" type="application/opensearchdescription+xml"
          title="Suche nach Arch Linux Paketen"
          href="{{ path('app_packages_opensearch') }}"/>
</head>
<body>
<app id="app"></app>
{{ encore_entry_script_tags('main') }}
</body>
</html>
