<div class="card">
    <h3 class="card-title card-header">Aktuelle Pakete</h3>

    <div class="card-body">
        <table class="table table-sm">
            {% for package in packages %}
                <tr{% if package.testing == 1 %} class="testing"{% endif %}>
                    <td class="pkgname"><a href="{{ path('app_packagedetails_index', {
                            'repo': package.repository,
                            'arch': package.architecture,
                            'pkgname': package.name
                        }) }}">{{ package.name }}</a></td>
                    <td class="text-right">{{ package.version }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card-footer text-muted d-inline-flex justify-content-between">
        <a class="card-link" href="{{ path('app_packages_index') }}">mehr Pakete</a>
        <a class="card-link" href="{{ path('app_recentpackages_index') }}">RSS Feed</a>
    </div>
</div>