{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('build/packagers.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var ajax = '{{ path('app_packagers_datatables') }}';
    </script>
    <script src="{{ asset('build/packagers.js') }}"></script>
{% endblock %}

{% block title %}Packer{% endblock %}

{% block body %}
    <div class="box">
        <table id="packagers" class="pretty-table compact">
            <thead>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Pakete</th>
                <th>Letzte Aktualisierung</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}
